version: '3'
services:
  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "AwesomePass_1234"
    restart: always
  wtc.api:
    build: .
    ports: 
      - "8080:5000"